language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

allow_failures:
  - php: 7.0

before_script:
  - composer self-update
  - composer install --prefer-dist --no-interaction
  - cp phpunit.xml.dist phpunit.xml

script:
  - phpunit

notifications:
  email: false
