parameters:
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - tests/bootstrap.php
    earlyTerminatingMethodCalls:
        Cake\Console\Shell:
            - abort
